body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Cookie', cursive;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
}
main{
    width: 450px;
    height: 650px;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:50px auto;
    border-radius: 20px;
   
    
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.section-two p{

    padding: 0 50px;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    
}
.section-two h2{
    padding-top: 2px;
    font-size: 36px;
   
   
}
.section-three{
    display: flex;
    background-color: hsl(225, 100%, 98%);
    height: 80px;
    align-items: center;
    width: 350px;
    margin: 15px 0;
    border-radius: 10px;
    padding: 12px 0 12px 12px;
}
span{
    margin-left: 20px;
}
span h5,p{
margin: 5px;

}

span p{
color: hsl(224, 23%, 55%);
}
span h5{
    font-size: 16px;
}

.section-three a{
    margin-left: 100px;
    color: hsl(245, 75%, 52%);
    
}

.section-four{
    width: 350px;
    height: 40px;
    padding: 10px;
    padding-top: 15px;
    margin-top: 15px;
    background-color:hsl(245, 75%, 52%) ;
    border-radius: 10px;
    box-shadow: 0px 5px 20px hsl(224, 23%, 55%);
    
}
.section-four a{
    color: #fff;
    text-decoration: none;
 
}


.section-five{
    width: 350px;
    height: 40px;
    padding: 25px;
    text-decoration: none;
   
    
}

.section-five a{
    text-decoration: none;
    background-color:#fff ;
    color: hsl(224, 23%, 55%);
}




